<div class="landing-wrapper">
    <div class="landing-img container-fluid position-relative">
        <img src="assets/img/hero-image@2x.png" class="img-fluid desktop-splash-img" alt="...">

        <div class="splash-content">
            <div class="splash-header">
                Join the No.1 Ecommerce Platform in Nigeria
            </div>
            <div class="splash-sub-header">
                Start making money now, it's easy and free
            </div>
            <button class="splash-btn">
                Become a Seller
            </button>
        </div>

        <div class="mobile-splash-image"></div> 

        <div class="landing-nav">
            <img src="assets/svg/KG-sellers-hub-logo.svg" class="logo" alt="">

            <img src="assets/svg/hamburger-menu.svg" class="hamburger-menu" alt="">

            <div class="landing-nav__menu">
                <span>
                    Kaiglo Express
                </span>
                <span>
                    Learning Center
                </span>
                <span class="nav-btn">
                    Register
                </span>
                <!-- <span [routerLink]="['/dashboard']" style="position: relative; z-index: 9999; cursor: pointer">
                    To Dashboard
                </span> -->
            </div>
        </div>
    </div>

    <img src="assets/svg/circle-artifacts.svg" alt="" class="absolute-img__one">
    <img src="assets/svg/Polygon 1.svg" alt="" class="absolute-img__two">
    <img src="assets/svg/swirle-libe.svg" alt="" class="absolute-img__three">
    <img src="assets/svg/ring-artifacts.svg" alt="" class="absolute-img__four">

    <div class="narration-wrap position-relative">
        <h3>How it works</h3>
        <p>
            Become a member on the SellersHub platform by creating an account either using your social media account or email account. Proceed to create store and begin upload of store details
        </p>
    </div>
    

    <div class="features-grid">
        <div *ngFor="let feature of features" class="feature">
            <img [src]="feature.iconUrl" class="feature-icon" alt="">

            <span class="feature-title">
                {{ feature.title }}
            </span>
            <span class="feature-content">
                {{ feature.description }}
            </span>
        </div>
    </div>

    <div class="brand-details mb-5">
        <div class="details-pre mb-4">
            <h3>Why choose SellersHub</h3>
            <p>
                SellersHub provides the right platform for sellers to promote their brand and store online, allowing them to
                have personalized interaction with potential buyers.
            </p>
        </div>

        <div class="brand-details__grid">
            <div class="brand-details__info">
                <div class="brand-line">
                    <div class="brand-text">
                        <h4>Market Coverage</h4>
                        <p>we understand your need to reach a broader consumer base and make smoother sales and huge profits; SellersHub as a platform is here to help.</p>
                    </div>
                    <img src="assets/icons/market-coverage.svg" class="rounded-img ml-3" alt="">
                </div>

                <div class="brand-line">
                    <div class="brand-text">
                        <h4>Trade experience</h4>
                        <p>SellersHub provides a user experience that allows even your most loyal customers to still keep in touch and purchase from you anywhere they are in Nigeria.</p>
                    </div>
                    <img src="assets/icons/Trade-experience.svg" class="rounded-img ml-3" alt="">
                </div>

                <div class="brand-line">
                    <div class="brand-text">
                        <h4>Easy of transaction</h4>
                        <p>On SellersHub, mobile payment is made easy, fast and efficient.</p>
                    </div>
                    <img src="assets/icons/easy-of-transaction.svg" class="rounded-img ml-3" alt="">
                </div>
            </div>

            <div class="brand-details__info">
                <img src="assets/img/mobile-home.png" class="brand-image" alt="">
            </div>

            <div class="brand-details__info">
                <div class="brand-line">
                    <img src="assets/icons/brand-rec.svg" class="rounded-img mr-3" alt="">
                    <div class="brand-text__right">
                        <h4>Brand recognition</h4>
                        <p>Do you yearn for a platform where your brand image can be improved and recognized? The SellersHub platform is perfect.</p>
                    </div>
                </div>

                <div class="brand-line">
                    <img src="assets/icons/market-insight.svg" class="rounded-img mr-3" alt="">
                    <div class="brand-text__right">
                        <h4>Market insight</h4>
                        <p>SellersHub ensures that you can monitor your sales annually to know if you are excelling at a particular trade to make better decision.
                        </p>
                    </div>
                </div>

                <div class="brand-line">
                    <img src="assets/icons/efficiency.svg" class="rounded-img mr-3" alt="">
                    <div class="brand-text__right">
                        <h4>Efficiency & trustworthy</h4>
                        <p>Issue of quality and efficient service delivery is our watch word at SellersHub.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="post-details__wrapper mb-5">
        <h3>Successful stories</h3>

        <div class="post-panel position-relative">
            <div class="dark-panel"></div>

            <div class="post-details">
                <img src="assets/img/seller-obinnapro.png" class="post-image" alt="">

                <div class="post-content">
                    <div class="post-content__top">
                        <span class="tag">
                            Store Owner
                        </span>

                        <h3>My Story</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>

                    <div class="post-content__bottom">
                        <h3>ObinnaBoss</h3>
                        <p>CEO (ObinnaBoss Fashion)</p>

                        <div class="circle-row">
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                        </div>
                    </div>

                    <img src="assets/icons/bxs-right-arrow-circle.svg" class="right-arrow" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="footer-wrapper">
        <div class="footer-grid">
            <div class="footer-content">
                <span class="footer-title">
                    Company information
                </span>
                <span class="footer-body">
                    <span class="footer-text">Contact Us</span>
                    <span class="footer-text">Job Opportunities</span>
                    <span class="footer-text">Why Choose Kaiglo </span>
                    <span class="footer-text">Terms and Conditions </span>
                    <span class="footer-text">Privacy Policy </span>
                    <span class="footer-text">About Us</span>
                </span>
            </div>

            <div class="footer-content">
                <span class="footer-title">
                    Customer Service
                </span>
                <span class="footer-body">
                    <span class="footer-text">Shipping & Delivery</span>
                    <span class="footer-text">Kaiglo Express</span>
                    <span class="footer-text">Return Policy</span>
                    <span class="footer-text">FAQ & Support</span>
                    <span class="footer-text">Top Searches</span>
                    <span class="footer-text">Authentic Items</span>
                    <span class="footer-text">Sitemap</span>
                </span>
            </div>

            <div class="footer-content">
                <span class="footer-title">
                    Kaiglo Social
                </span>
                <span class="footer-body">
                    <div class="social-grid">
                        <img src="assets/social-media/facebook.svg" alt="">
                        <img src="assets/social-media/twitter.svg" alt="">
                        <img src="assets/social-media/instagram.svg" alt="">
                        <img src="assets/social-media/messenger.svg" alt="">
                        <img src="assets/social-media/telegram.svg" alt="">
                        <img src="assets/social-media/youtube.svg" alt="">
                        <img src="assets/social-media/pinterest.svg" alt="">
                    </div>
                </span>
            </div>

            <div class="footer-content">
                <span class="footer-title">
                    Make money with us
                </span>
                <span class="footer-body">
                    <span class="footer-text">Sell on Kaiglo</span>
                    <span class="footer-text">Become an Affiliate Partner</span>
                </span>
            </div>

            <div class="footer-content">
                <span class="footer-title">
                    Download our Mobile App!
                </span>
                <span class="footer-body">
                    <div class="app-store-grid">
                        <img src="assets/icons/google@.png" class="mr-2" alt="">
                        <img src="assets/icons/apple@.png" alt="">
                    </div>
                </span>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <span>Copyright © 2020 SellersHub STORES LIMITED. All Rights Reserved. User Agreement, </span>
        <span class="link-text">Privacy and Cookies</span>
    </div>
</div>