.dashboard-wrapper{
    background-color: #F0F0F0;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
}

/* Sidebar */
.sidebar{
    background-color: #FFFFFF;
    width: 18%;
    height: 120vh;
    padding: 30px 10px;
}

.avatar-wrapper{
    text-align: center;
    margin-bottom: 30px;
}

.avatar-wrapper img{
    margin: 0 auto 10px;
    width: 50px;
    height: 50px;
}

.avatar-wrapper p{
    margin: 0 auto 10px;
    width: 50%;
    font-size: 10px;
    font-weight: lighter;
    color: #727272;
}

.avatar-wrapper .avatar-btn{
    margin: 0 auto;
    font-size: 10px;
    font-weight: lighter;
    background-color: #004D47;
    color: #FFFFFF;
    width: 40%;
    padding: 7px;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
}

.sidebar-content{
    padding: 5px;
}

.sidebar-item{
    display: flex;
    font-weight: bolder;
    font-size: 11px;
    color: #151716;
    vertical-align: middle;
    align-items: center;
    padding: 7px 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.sidebar-item span{
    display: inline-block;
    margin-left: 9px;
}

.damp{
    background-color: #F0F0F0;
}

.logout{
    margin-top: 165px;
    text-align: center;
    color: #727272;
    font-weight: bolder;
    font-size: 12px;
    position: relative;
    bottom: 20px;
}
/* Sidebar */

/* Dashboard Header */
.dashboard-content{
    width: 82%;
    padding: 20px 30px;
}

.dashboard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: rgba(255, 255, 255, .25);
    background-color: #004D47;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.header-icon{
    width: 30px;
    height: 30px;
}

.bold-header{

}
/* Dashboard HEader */

/* Dashboard SUmmary */
.dashboard-summary__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dashboard-summary__item{
    width: 23%;
    padding: 20px 20px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.dashboard-summary__item .summary-img{
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.dashboard-summary__item .summary-content span:nth-child(1){
    display: block;
    font-size: 12px;
    margin-bottom: 1px;
    color: #151716;
}

.dashboard-summary__item .summary-content span:nth-child(2){
    display: block;
    font-size: 10px;
    font-weight: lighter;
    color: #727272;
}
/* Dashboard SUmmary */

/* Dashboard Reports */
.dashboard-reports__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard-report{
    width: 47%;
    background-color: #FFFFFF;
    height: 500px;
    margin-bottom: 30px;
    padding: 19px 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.dashboard-report .report-title{
    font-weight: bolder;
    font-size: 12px;
    color: #151716;
}
/* Dashboard Reports */