/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif; */
    font-family: 'Gotham-Book', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url("assets/fonts/Gotham-Black.otf") format("opentype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url("assets/fonts/GothamMedium.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url("assets/fonts/Gotham-Thin.otf") format("opentype");
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url("assets/fonts/Gotham Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}